ul.page-numbers {
  display: flex;
  justify-content: center;
  margin:0;
  padding:0;
  list-style: none;

  li {
    margin:0 0.25rem;
    line-height: 1;
  }
  a,span {
    line-height: 1;
    font-size: 1rem;
    font-weight: 400;
    display: block;
    padding:0 0.75rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  a {
    transition: 0.24s ease-out opacity;
    &:hover {
      opacity: 0.4;
    }
  }
  span.current {
    background: var(--color-text-dark);
    color: var(--color-text-light);
    pointer-events: none;
  }
}