// to fix: min-height

#header {
	--header-padding-top: calc(1.5 * var(--section-padding)); 
	--header-padding-bottom: calc(1.5 * var(--section-padding));
	// --min-header-height: 480px;

	@media only screen and (max-width: $xs-max) {
		&:not(&.mobile-rows) {
			--border-radius: 0;
		}
	}
	@media only screen and (min-width: $sm-min) {
		--border-radius: 0;
	}

	position: relative;
  	width: 100%;
	overflow: hidden;
	padding-top:var(--nav-height);
	background: var(--color-background);
	z-index: 1;

	&:has(+ #main .section[data-move="1"]:first-child) {
		.header-content {
			padding-bottom: calc(3 * var(--section-padding));
		}
	}

	&:has([data-height="fullscreen"] .header-content[data-layout="1"]) {
		--header-padding-bottom: calc(2 * var(--section-padding));
	}
	
	&[data-height="fullscreen"] {
		// min-height: calc(85vh - var(--nav-height));
		min-height: 100vh;

		.header-content {
			min-height: calc(85vh - var(--nav-height));
		}
	}

	.content-image {
		.hide-nav-top & {
			top: var(--nav-height-bottom);
		}
	}

	@media only screen and (max-width: $xs-max) {

		// Mobile rows
		&.mobile-rows {
			background: var(--color-background);
			--header-padding-top: var(--column-y-spacer);
			--header-padding-bottom: var(--column-y-spacer);

			&[data-mobile-color-text="light"] {
		  		--color-text-primary: var(--color-text-light);
			}
			&[data-mobile-color-text="dark"] {
		  		--color-text-primary: var(--color-text-dark);
			}

			display: flex;
    		flex-direction: column;

			.content-image {
				margin-left: var(--container-padding);
				margin-right: var(--container-padding);
				position: relative;
				height: 400px;
				position: relative;
			    overflow: hidden;
			    transform-style: preserve-3d;
			    border-radius: var(--border-radius);
			    transform: translateZ(0);
			    -webkit-backface-visibility: hidden;
			}
			.image-overlay {
				display: none;
			}

			&+ #main .section[data-rounded-top="1"]:first-child {
				border-radius: 0;
				margin-top: 0;
			}

		}
		&.mobile-image-above {
			.content-image {
				margin-top: var(--container-padding);
			}
		}
		&.mobile-image-below {
			.header-content {
				order: -1;
			}
			.content-image {
				margin-bottom: var(--container-padding);
			}
		}

	}
	@media only screen and (min-width: $sm-min) {
		&[data-type="image"] {
			min-height: var(--min-header-height);
			.header-content {
				min-height: calc(var(--min-header-height) - var(--nav-height));
			}
		}
		&[data-height="fullscreen"] {
			// min-height: calc(85vh - var(--nav-height));
			min-height: 100vh;

			.header-content {
				min-height: calc(100vh - var(--nav-height));
			}
		}
		
	}
}


.header-content {
	position: relative;
	display: flex;
	padding-top: var(--header-padding-top);
	padding-bottom: var(--header-padding-bottom);

	p,ul {
		max-width: var(--content-width-l);
	}
	.content-text {
		&[data-text-align="align-left"] {
			p,ul,.logo {
				margin-right: auto;
			}
		}
		&[data-text-align="align-right"] {
			p,ul,.logo {
				margin-left: auto;
			}
		}
		&[data-text-align="align-center"] {
			p,ul,.logo {
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	@media only screen and (max-width: $xs-max) {

		.columns {
			display: flex;
			flex-direction: column;
    		height: 100%;
		}
		.column {
			width:100%;
		}


		// Vertical
		&[data-layout="1"] {

		}

		// Horizontal
		&[data-layout="2"] {
			.columns {
				justify-content: flex-end;
			}
		}

	}
	@media only screen and (min-width: $sm-min) {


		// Vertical
		&[data-layout="1"] {

			&[data-align-y="middle"] {
				align-items: center;
			}
			&[data-align-y="bottom"] {
				align-items: flex-end;
			}

			.column {
				@include grid(10);
			}
		}
		
	}

	@media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
		
		// Horizontal
		&[data-layout="2"] {

			.column-text {
				@include grid($grid);
			}
			.column-action {
				@include grid($grid);
				margin-top: calc(0.5* var(--section-padding));
			}
		}

	}

	        
	@media only screen and (min-width: $md-min) {

		// Vertical
		&[data-layout="1"] {
			.column {
				@include grid(8);
			}
		}

		// Horizontal
		&[data-layout="2"] {

			.columns {
				height: 100%;
				align-items: flex-end;
			}

			.column-text {
				@include grid(7);
			}
			.column-action {
				@include grid(5);
				display: flex;
				justify-content: flex-end;
			}

			.content-action {
				margin:0;
			}
		}

	}
	@media only screen and (min-width: $lg-min) {

		// Vertical
		&[data-layout="1"] {
			.column {
				@include grid(6);
			}
		}

	}

}

.scroll-indicator {
	position: absolute;
	left:50%;
	transform: translateX(-50%);
	bottom: calc(0.5 * var(--section-padding));
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content: center;
	text-align: center;
}
.scroll-indicator-mouse {
	position: relative;
	display: block;
	width: 1.375rem;
	height: 2rem;
	border:2px solid var(--color-text-secondary);
	border-radius: 2rem;

	&:before {
		content: "";
		position: absolute;
		left:50%;
		width:4px;
		height: 4px;
		border-radius: 50%;
		transform: translateX(-50%);
		top: 6px;
		background: var(--color-text-secondary);

		animation-name:arrow;
		animation-duration:3s;
		animation-timing-function:ease-out;
		animation-delay:0s;
		animation-iteration-count:infinite;
		animation-direction:normal;
		animation-play-state:running;
	}
}
.scroll-indicator-text {
	font-size: 0.75rem;
	text-transform: uppercase;
	display: block;
	margin-bottom: calc(0.5 * var(--section-padding));
}

@keyframes arrow {
	0%   {top: 6px;}
	75% {top: 20px;}
	100% {top: 6px;}
}