.section-4-columns {
	--border-radius: 1rem;
	--box-shadow: 0 2px 2px rgba(var(--color-text-dark-rgb), 0.15);
	--content-padding: 1.5rem;
	--icon-size: 5rem;
	--text-align: center;
	--link-align: center;
	
	.section-image {
		margin-bottom: 1.5rem;
	}

	.content-card {
		--color-text-primary: var(--color-text-dark);
		
		background: #fff;
		border-radius: var(--border-radius);
		box-shadow: var(--box-shadow);
		padding: var(--content-padding);
		text-align: var(--text-align);
		height: 100%;
		display: flex;
    	flex-direction: column;
	}

	.columns-text {
		.content {
			text-align: center;
		}
	}

	.content-image {
		width: var(--icon-size);
		height: var(--icon-size);
		margin:0 auto 1.5rem;

		img {
			object-fit: contain;
		}
	}
	.content-title {
		font-size: 0.875rem;
		text-transform: uppercase;
		margin: 0 0 0.5rem;
	}
	.content-text p {
		font-size: 0.875rem;

		&.subtitle {
			font-weight: 500;
			margin-bottom: 0.5rem;
			font-size: 1rem;

			&+ p {
				margin-top: 0;
			}
		}
	}

	.content-action {
		margin:0.875rem 0 0 0;
		flex-direction: column;
		flex-grow:1;
		align-items: var(--link-align);
		justify-content: flex-end;
		.link {
			font-size: 0.875rem;
		}
	}

	@media only screen and (max-width: $xs-max) {
		.column {
			&+ .column {
				margin-top: 1rem;
			}
		}

		.columns-4[data-amount-per-row-mobile="2"] {
			display: flex;
			flex-wrap: wrap;
			margin-left: calc(-1 * var(--column-padding));
			margin-right: calc(-1 * var(--column-padding));

			.column {
				flex-basis: 50%;
				min-width: 50%;
				max-width: 50%;
				margin:0;
				padding:0 var(--column-padding);
				max-width: 400px;

				&+ .column:nth-child(n+3) {
					margin-top: calc(2 * var(--column-padding));
				}
			}
		}
	}
	@media only screen and (min-width: $sm-min) {
		.columns {
			justify-content: center;
		}
		.columns-text {
			
			.column {
				@include grid(8,0,0);
			}

		}
	}
	@media only screen and (min-width: $sm-min) and (max-width: $sm-max) {
		.columns-4 {
			.column {
				@include grid(6,0,0);
				&:nth-child(n+3) {
					margin-top: calc(2 * var(--column-padding));
				}
			}
		}
	}
	@media only screen and (min-width: $md-min) {
		
		
		.columns-4 {

			.column {
				@include grid(3,0,0);
				&:nth-child(n+5) {
					margin-top: calc(2 * var(--column-padding));
				}
			}

			&[data-amount-per-row="3"] {
				.column {
					@include grid(3,0,0);

					&:first-child, &:nth-child(4n) {
						margin-left: var(--grid-1-column);
					}
					&:nth-child(3n) {
						margin-right: var(--grid-1-column);
					}
					&:nth-child(n+4) {
						margin-top: calc(2 * var(--column-padding));
					}
				}
			}

		}

	}
	@media only screen and (min-width: $md-min) {
		
	}
	@media only screen and (min-width: $lg-min) {
		.columns-text {
			
			.column {
				@include grid(5,0,0);
			}

		}
		// .columns-4 {

		// 	.column {
		// 		@include grid(2,0,0);
		// 	}

		// }
	}
	@media only screen and (min-width: $xl-min) {
		
	}
}