.section-quote-logos {
	overflow: hidden;

	@media only screen and (max-width: $xs-max) {
		--quote-border-radius: var(--border-radius);
		--quote-author-margin: 0rem;
		--logos-bg-padding: 1rem;
		--logos-bg-margin: -1.5rem;
		--logos-bg-offset: 0;
		--logo-margin: 0.25rem 0.5rem;
		--content-padding: 2.5rem 2.5rem 3rem;
	}
	@media only screen and (min-width: $sm-min) {
		--quote-border-radius: var(--border-radius-xl);
		--quote-author-margin: 3.5rem;
		--logos-bg-padding: 1.375rem;
		--logos-bg-margin: -4.375rem;
		--logos-bg-offset: calc(var(--grid-1-column) + var(--column-padding));
		--logo-margin: 0.25rem;
		--content-padding: 2.5rem;
	}
	@media only screen and (min-width: $md-min) {
		--logo-margin: 0.25rem;
	}

	.content {
		opacity: 1;
	}

	.content-logo {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}

	.columns-quote {
		.content-image {
			border-radius: var(--quote-border-radius);
			transform: translateZ(0) scale3d(1,1,1);
		    -webkit-backface-visibility: hidden;
		    overflow: hidden;
		
			.image-holder {
				position: absolute;
			}
		}
	}

	.animate-quote {
		.content-image {
			transform: translateZ(0) scale3d(0.95,0.95,1);
			transition:0.24s ease-out transform 0s;
			box-shadow: 0 10px 10px rgba(var(--color-text-dark-rgb), 0.15);
		}
		.img-background {
			transform: translateZ(0) scale3d(0.9,0.9,1);
			transition:0.24s ease-out transform 0s;
			left: -10%;
			top:-10%;
			bottom: -10%;
			right: -10%;
		}
		.content-inner {
			opacity: 0;
			transform: translateY(0.5rem);
			transition:0s ease-out transform 0s, 0s ease-out opacity 0s;
		}
	}
	.animate-quote.show {
		.content-image {
			transform: translateZ(0) scale3d(1,1,1);
			transition:0.24s ease-out transform 0.36s;
		}
		.img-background {
			transform: translateZ(0) scale3d(1,1,1);
			transition:0.24s ease-out transform 0.36s;
		}
		.content-inner {
			transform: translateY(0);
			opacity: 1;
			transition:0.48s ease-out transform 0.48s, 0.48s ease-out opacity 0.48s;
		}
	}

	.animate-logos {
		.column-logo {
			opacity: 0;
			transform:translateY(20px);
			transition:0.24s ease opacity 0s, 0.48s ease transform 0s;
			transition-delay: 0s;
		}
	}
	.animate-logos.show {
		.column-logo {
			opacity: 1;
			transform:translateY(0);
			transition:0.24s ease opacity, 0.48s ease transform 0s;

			&:nth-child(1) {transition-delay: 0.12s;}
			&:nth-child(2) {transition-delay: 0.24s;}
			&:nth-child(3) {transition-delay: 0.36s;}
			&:nth-child(4) {transition-delay: 0.48s;}
			&:nth-child(5) {transition-delay: 0.6s;}
			&:nth-child(6) {transition-delay: 0.72s;}
		}
	}	

	.content-inner {
		max-width: var(--content-width-xl);
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		padding: var(--content-padding);
	}

	h3 {
		font-weight: 400;
	}

	.quote-author {
		display: block;
		margin-top: var(--quote-author-margin);
	}


	.logo {
		padding: var(--logo-margin);
	}

	.columns-logos-holder {
		display: flex;
		padding: var(--logos-bg-padding) 0;
		margin: var(--logos-bg-margin) 0 0 0;

		&:before {
			content: "";
			position: absolute;
			left: var(--logos-bg-offset);
			right: var(--logos-bg-offset);
			top:0;
			bottom: 0;
			background: var(--color-text-dark);
			border-radius: var(--border-radius);
			
		}
	}
	

	@media only screen and (max-width: $xs-max) {
		.content-image {
			position: absolute;
			left: calc(-1 * var(--container-padding));
			right: calc(-1 * var(--container-padding));
			border-radius: 0;
			top:0;
			bottom: 0;
		}
		.content-inner {
			padding-left: 1rem;
			padding-right: 1rem;
		}
		.columns-logos {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			padding: 0 1rem;
		}
		.column-logo {
			@include grid(4);
			margin:0;
			img {
				margin:0 auto;
			}
		}
	}
	@media only screen and (min-width: $sm-min) {

		.columns-quote {
			.column {
				@include grid($grid);
			}
		}

		.column-logos-holder {
			@include grid(8,2);
		}

		.columns-logos {
			flex-wrap: nowrap;
			justify-content: space-between;
		}
		.column-logo {
			flex: auto;
			min-width: auto;
			max-width: 100%;
			flex-shrink: 1;
		}

		.content-image {
			padding-bottom: 60%;
		}

		.content-overlay {
			position: absolute;
			left:0;
			right:0;
			top:0;
			bottom: 0;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}