.small {
	font-size: 0.875rem;
	font-weight: normal;
}
.lead {
	font-size: 1.25rem;
	font-weight: normal;
} 

h2 .lead {
	font-size: 2rem;
}

.style-p {
	font-size: 1rem;
	font-weight: normal;
}

.style-h1 {
	font-size: 2rem;
    font-weight: bold;
    display: block;
}
.style-h2 {
	font-size: 1.5rem;
	font-weight: bold;
    display: block;

	.lead {
		font-size: 2rem;
	}
}
.style-h3 {
	font-size: 1.17rem;
    font-weight: bold;
    display: block;
}
.style-h4 {
    font-weight: bold;
    display: block;
}
.style-h5 {
	font-size: 0.83rem;
    font-weight: bold;
    display: block;
}
.style-h6 {
    font-size: 0.67rem;
    font-weight: bold;
    display: block;
}